<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-10 col-sm-10">

                <div class="card" id="chat2">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">AIBot - Chat</h5>
                        <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat
                            App</button>
                    </div>
                    <div class="card-body overflow-auto" data-mdb-perfect-scrollbar="true"
                        style="position: relative; height: 400px">
                        <div *ngFor="let message of chatMessages"
                            [ngClass]="{'user-message': message.isUser, 'ai-message': !message.isUser}">




                            <div class="d-flex flex-row justify-content-start" *ngIf="message.isUser">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{
                                        message.text }}</p>

                                </div>
                            </div>


                            <div class="d-flex flex-row justify-content-end mb-4 pt-1" *ngIf="!message.isUser">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>

                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                            alt="avatar 3" style="width: 40px; height: 100%;">
                        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                            [(ngModel)]="inputText" (keydown.enter)="onSubmit()" placeholder="Type a message..."
                            placeholder="Type message ...">
                        <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                        <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                        <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                        <button (click)="onSubmit()" class="btn btn-primary ml-1">Send</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>